<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <input type="number" name="num1" id="num1" v-model="valor_1">
        <input type="number" name="num1" id="num1" v-model="valor_2">

        <h2>{{total}}</h2>

        <h2>Carros</h2>
        <input type="text" v-model="filtro">

        <ul>
            <li v-for="item in filtrarMarca">
                <p>{{item}}</p>
            </li>
        </ul>
    </div>

    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                valor_1: 0,
                valor_2: 0,
                filtro: '',
                carros: [
                    {
                        marca: "Ford",
                        cor: "Preto"
                    },
                    {
                        marca: "Gol",
                        cor: "Cinza"
                    },
                    {
                        marca: "Renault",
                        cor: "Branco"
                    }
                ]
            },
            computed: {
                total(){
                    let valor1 = +this.valor_1;
                    let valor2 = +this.valor_2;
                    return valor1 + valor2;
                },
                filtrarMarca(){
                    return this.carros.filter((item) => item.marca.toLowerCase() === this.filtro.toLowerCase());
                }
            }
        });
    </script>

</body>
</html>